.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icono-busqueda {
  margin-right: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}