.pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
  }
  
  .pokemon {
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 200px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    flex-direction: column;
  }